.page-title{
    text-align: center;
    font-size: x-large;
    font-family: 'Patua One', cursive;}

.btn-align{
    align-self: flex-end;
    margin: 0 auto;
}

.center-screen{
    align-self: flex-end;
    margin: 0 auto;
}
.h2{
    font-family: 'Patua One', cursive;
}

nav{
    background-color: 	#fff8dc; 
}

.mb-0{
    color: #8b6914;
}
.btn-primary {
    background-color: #CDAA7D; 
    border: none;
  }

  .btn-primary:hover{
    background-color: #8b6914;
  }


.table-blank{
    height: 200px;
}

.row-w-margin{
    margin-left: 382px;
}

.table-w-border{
    border-style: none; /*Tmp modified none*/
    border-color: pink;
    border-width: 1px;
    /* height: 27px; */
    color: white;
    align-content: center;
}

.show-border{
    border-style: solid;
}

.circle{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    background: yellow;
    border: 2px solid #000;
    color: #000;
    text-align: center;
    font: 16px Arial, sans-serif;

}

.correct{
    color: green;
    font-weight: bold;
    font-size: medium;
}

.wrong{
    color: red;
    font-weight: bold;
    font-size: medium;
}
.vertical{
    vertical-align: middle;
}
