.page-title{
    text-align: center;
    font-size: x-large;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.btn-align{
    align-self: flex-end;
    margin: 0 auto;
}

.table-blank{
    height: 200px;
}

.row-w-margin{
    margin-left: 382px;
}

.table-w-border{
    border-style: solid;
    border-color: red;
    border-width: 1px;
    /* height: 27px; */
    color: white;
    align-content: center;
}

.circle{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 10px;
    margin: 10px;
    background: yellow;
    border: 2px solid #000;
    color: #000;
    text-align: center;
    font: 16px Arial, sans-serif;

}
