{% extends "home.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'learn-fingering.js') }}"></script>

<script>
    let data = {{data|tojson}}
</script>


<div id="basic-content"> <!-- Removed the container from this, since the home.html page already places everything within a container-->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <h3>Learning {{data.chord}} Chord</h3>
        </div>
    </div>
    <div class="row"> <br><!-- blank row --> </div>

    <div class="row">
        <div class="col-md-2">
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
            <div class="position-sticky">
              <div class="list-group list-group-flush mx-3 mt-4">
                <a href="/learn/1" id="learn1" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-chart-area fa-fw me-3"></i><span>G</span>
                  </a>
                <a href="/learn/2" id="learn2" class="list-group-item list-group-item-action py-2 ripple">
                  <i class="fas fa-chart-area fa-fw me-3"></i><span>F</span>
                </a>
                <a href="/learn/3" id="learn3" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-chart-area fa-fw me-3"></i><span>C</span>
                  </a>
                  <a href="/learn/4" id="learn4" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-chart-area fa-fw me-3"></i><span>A</span>
                  </a>
                  <a href="/learn/5" id="learn5" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fas fa-chart-area fa-fw me-3"></i><span>Am</span>
                  </a>
            </div>
        </div>
        </nav>
        </div> 
        <div class="col-md-10"> 
            <div class="row">
                <div class="col-md-4">
                    <div><b>Fingering</b></div>
                    <div class="learn-text"> Remember where to put your fingers!</div>
                    <img src="{{data.chordIMG}}" alt="chord picture" width="50%">
                </div>
                <div class="col-md-4">
                    <div><b>Audio</b></div>
                    <div class="learn-text">Listen to {{data.chord}} chord, and remember the sound!</div>
                    <audio controls>
                        <source src="{{data.chordAudio}}" type="audio/mpeg" preload="auto">
                        <embed height="50" width="100" src="{{data.chordAudio}}">
                        Your browser does not support this type of audio!
                    </audio>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <div class="learn-text">
                        <b>
                            Hint:
                        </b>
                    </div>
                    <img src="https://b7d3d5f9.rocketcdn.me/wp-content/themes/olympus/utimages/ukuchords/ukuchords_howtoreadchordcharts.png" alt="chord_diagram" width="70%">
                </div>
             </div>
             
        </div>

    </div>

   


</div>

<div class="bg-image" style="background-image: url('{{data.ukulele}}'); background-position: 0px -125px; height: 100vh; background-repeat: no-repeat">
    <div class="container">
        <div style="height: 73px;"></div>
        <!-- comment the first 2 rows of table-w-border to disappear the red border -->
        <div class="row row-w-margin">
            <div class="table-w-border" style="width: 72px; height: 30px;" id="1"></div>
            <div class="table-w-border" style="width: 69px; height: 30px;" id="2"></div>
            <div class="table-w-border" style="width: 63px; height: 30px;" id="3"></div>
            <div class="table-w-border" style="width: 60px; height: 30px;" id="4"></div>
        </div>
        <div class="row row-w-margin">
            <div class="table-w-border" style="width: 72px; height: 30px;" id="5"></div>
            <div class="table-w-border" style="width: 69px; height: 30px;" id="6"></div>
            <div class="table-w-border" style="width: 63px; height: 30px;" id="7"></div>
            <div class="table-w-border" style="width: 60px; height: 30px;" id="8"></div>
        </div>
        <div class="row row-w-margin">
            <div class="table-w-border" style="width: 72px; height: 35px;" id="9"></div>
            <div class="table-w-border" style="width: 69px; height: 35px;" id="10"></div>
            <div class="table-w-border" style="width: 63px; height: 35px;" id="11"></div>
            <div class="table-w-border" style="width: 60px; height: 35px;" id="12"></div>
        </div>
        <div class="row row-w-margin">
            <div class="table-w-border" style="width: 72px; height: 40px;" id="13"></div>
            <div class="table-w-border" style="width: 69px; height: 40px;" id="14"></div>
            <div class="table-w-border" style="width: 63px; height: 40px;" id="15"></div>
            <div class="table-w-border" style="width: 60px; height: 40px;" id="16"></div>
        </div>

        <br>
        <br>
        <div class="row">
            <div class="btn-align">
                <button class="btn btn-primary" id = "prev">Previous</button>
                <button class="btn btn-primary" id = 'next'>Next</button>
            </div>
        </div>
    </div>
</div>

<div class="row"> <br><!-- blank row --> </div>

</div>


{% endblock %}