{% extends "learning_home.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'basic.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>
<script>

    let data = {{data|tojson}}
    console.log("data: " + data)
</script>

<div class="container" id="basic-content">
    <h1>{{data.title}}</h1>

    <img src="{{data.img}}" alt="{{data.altText}}">

    <audio controls>
        <source src="{{data.audio}}" type="audio/mpeg">
    </audio>
    
    <div>
        <button class="btn btn-primary prev">Previous</button>
        <button class="btn btn-primary next">Next</button>
    </div>
</div>

{% endblock %}