{% extends "learning_home.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'learn-sound.js') }}"></script>

<script>
    let data = {{data|tojson}}
</script>

<div class="container" id="basic-content">
    <div class="row">
        <div class="col-md-4">
            <img src="{{data.chordIMG}}" alt="C" width="50%">
        </div>
        <div class="col-md-8">
            <audio controls>
                <source src="{{data.chordAudio}}" type="audio/mpeg" preload="auto">
                <embed height="50" width="100" src="{{data.chordAudio}}">
                Your browser does not support this type of audio!
              </audio>
        </div>
    </div>
    <div>
        {{data.description2}}
    </div>
    <div class="btn-align">
        <button class="btn btn-primary prev">Previous</button>
        <button class="btn btn-primary next">Next</button>
    </div>
</div>

{% endblock %}